---
---

<html>
  <head>
    <title>Cole</title>
  </head>
  <body>
    <h1>Hello, I'm Cole 👋</h1>
    <p>This is the beginning of my personal website.</p>
    <p>More coming soon.</p>
  </body>
</html>